* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 0.5em 2em;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 0.5em;
    border: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    flex: 1;
    padding: 0 15vw;
}

.left-links {
    font-size: 1.5vw;
}

.right-links {
    display: flex;
    gap: 2em;
    list-style: none;
    color: #E5E7EB;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 20;
}

.hero,
.main,
.quote,
.call-to-action {
    display: flex;
    padding: 0 15vw;
    align-items: center;
    flex: 1;
}

.hero {
    justify-content: space-between;
}

.hero .title {
    font-size: 3vw;
    font-weight: 901;
}

.subtext {
    padding: 1em 0;
    line-height: 1.6;
}

img {
    max-width: 30vw;
    height: auto;
    padding: 5vw 0 5vw 4vw;
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
}