* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0.5em 2em;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 0.5em;
    border: #F9FAF8;
}

li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    flex: 1;
    padding: 0 15vw;
    align-items: center;
}

.left-links {
    font-size: 1.5vw;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    gap: 2em;
}

.right-link {
    color: #E5E7EB;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 20;
}

.hero,
.main,
.quote,
.call-to-action {
    display: flex;
    padding: 0 15vw;
    align-items: center;
    flex: 1;
}

.hero {
    justify-content: space-between;
}

.hero .title {
    font-size: 3vw;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .subtext {
    padding: 1em 0;
    line-height: 1.6;
    color: #E5E7EB;
}

.hero .title-pic {
    max-width: 30vw;
    height: auto;
    padding: 5vw 0 5vw 4vw;
}

.main {
    flex-direction: column;
}

.main .title {
    font-size: 2.25vw;
    font-weight: bolder;
    padding-top: 1em;
    color: #1F2937;
}

.main .text {
    display: flex;
    padding: 3vw;
    gap: 3vw;
    border-radius: 0.5em;
    border: #3882F6;
}

.main img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 0.5em;
    border: 6px solid #3882F6;
}

.main figcaption {
    max-width: 10vw;
    text-align: center;
    line-height: 1.3;
}

.quote {
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
}

.quote .container {
    padding: 0 9vw;
}

.quote .text {
    font-style: italic;
    font-size: 2.25vw;
    line-height: 1.2;
    color: #1F2937;
}

.quote .author {
    text-align: right;
    font-size: 1.5vw;
    font-weight: bold;
}

.call-to-action .container {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    padding: 4vw 0;
    color: #F9FAF8;
}

.call-to-action .container .prompt {
    display: flex;
    flex-direction: column;
}

.prompt .title {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.6;
}

.container button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}